{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
 <section class="my-auto items-center justify-center dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Are you sure you want to log out?</p>
                <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400"><button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Yes, log out</button></p>
            </form>
        </div>
    </div>
</section>
{% endblock %}