{% extends 'base.html' %}

{% block title %}
Settings-for-{{ profile.username }}
{% endblock %}

{% block content %}
    <div class="px-4 max-w-4xl m-auto dark:bg-gray-900">
        <p class="px-4 py-6 font-extrabold text-4xl text-gray-900 dark:text-white">Settings for
            <a href="{% url 'profile' profile.username %}" class="font-extrabold text-blue-600 dark:text-blue-500 hover:underline">@{{ profile.username }}</a>
        </p>
        <div class="w-full grid grid-cols-1 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-4">
            <div class="h-fit rounded-lg dark:bg-gray-900">
                <nav>
                    <a class="flex items-center px-4 py-2 text-gray-700 bg-white rounded-md dark:bg-gray-800 dark:text-gray-200" href="#">
                        <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                        </svg>
                        <span class="mx-4 font-medium">Profile</span>
                    </a>
                </nav>
            </div>

            <div class="h-fit rounded-lg lg:col-span-3 xl:col-span-3 2xl:col-span-3 dark:bg-gray-900">
                   <form method="POST" enctype="multipart/form-data">
                       {% csrf_token %}

                       <div class="bg-white mb-3 py-4 rounded-lg dark:bg-gray-900">
                          <div class=" px-4 py-6 mx-auto max-w-2xl lg:py-4">
                              <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">User</h2>
                              <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                  <div class="sm:col-span-2">
                                      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
                                      {{ profile_form.first_name }}
                                  </div>
                                  <div class="sm:col-span-2">
                                      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
                                      {{ profile_form.last_name }}
                                  </div>
                                  <div class="sm:col-span-2">
                                      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                      {{ profile_form.email }}
                                  </div>
                                  <div class="sm:col-span-2">
                                      {{ profile_form.display_email }}
                                      <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Display email on profile</label>
                                  </div>
                                  <div class="sm:col-span-2">
                                      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                                      <p id="disabled-input" class="mb-6 bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" disabled>@{{ profile.username }}</p>
                                  </div>
                                  <div class="sm:col-span-2">
                                      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
                                          <div class="grid grid-cols-10">
                                              <img class="w-10 h-10 col-span-1 object-cover rounded-full" src="{{ profile.image.url}}" alt="Rounded avatar">
                                              {{ profile_form.image }}
                                          </div>
                                      </div>
                                  </div>
                          </div>
                        </div>

                       <div class="bg-white mb-3 py-4 rounded-lg dark:bg-gray-900">
                          <div class=" px-4 py-6 mx-auto max-w-2xl lg:py-4">
                              <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Basic</h2>
                                  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                      <div class="sm:col-span-2">
                                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Website URL</label>
                                        {{ basic_form.site }}
                                      </div>
                                      <div class="sm:col-span-2">
                                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                                        {{ basic_form.location }}
                                      </div>
                                      <div class="sm:col-span-2">
                                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bio</label>
                                        {{ basic_form.bio }}
                                      </div>
                                  </div>
                          </div>
                        </div>

                       <div class="bg-white mb-3 py-4 rounded-lg dark:bg-gray-900">
                          <div class=" px-4 py-6 mx-auto max-w-2xl lg:py-4">
                              <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Coding</h2>
                                  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                      <div class="sm:col-span-2">
                                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Currently learning</label>
                                        {{ coding_form.current }}
                                      </div>
                                      <div class="sm:col-span-2">
                                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Skills/Languages</label>
                                        {{ coding_form.skills }}
                                      </div>
                                  </div>
                          </div>
                        </div>

                       <div class="bg-white mb-3 py-4 rounded-lg dark:bg-gray-900">
                          <div class=" px-4 py-6 mx-auto max-w-2xl lg:py-4">
                              <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Work</h2>
                                  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                      <div class="sm:col-span-2">
                                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Work</label>
                                        {{ work_form.work }}
                                      </div>

                                      <div class="sm:col-span-2">
                                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Education</label>
                                        {{ work_form.education }}
                                      </div>
                                  </div>
                          </div>
                        </div>

                       <div class="bg-white mb-3 p-5 rounded-lg dark:bg-gray-900">
                            <button type="submit" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Save Profile Information</button>
                       </div>
                   </form>
            </div>
        </div>
    </div>
{% endblock %}
