{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="max-w-screen-xl m-auto dark:bg-black">
        <nav class="flex px-2 py-4 md:hidden text-gray-700 bg-gray-50 dark:bg-black dark:border-gray-700" aria-label="Breadcrumb">
            <div class="text-center">
                <button class="text-white hover:bg-gray-300 focus:ring-4 font-medium rounded-lg text-sm p-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="a310wjwcd8d9cqish3pmt71jpuqljsqo" class="crayons-icon"><title id="a310wjwcd8d9cqish3pmt71jpuqljsqo">Navigation menu</title>
                        <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"></path>
                    </svg>
                </button>
            </div>
            <ol class="inline-flex ml-2  items-center space-x-1 ">
                <li class="inline-flex items-center">
                    <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"><svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        Home
                    </a>
                </li>
            </ol>
        </nav>

        <div class="w-full grid sm:grid-cols-1 md:grid-cols-7 lg:grid-cols-5 gap-1">
            <div class="h-fit sm:hidden md:block md:col-span-2 lg:col-span-1 dark:bg-black">
                <nav class="sm:flex sm:flex-row sm:justify-center md:flex-col">
                    <a href="/" class="flex items-center px-2 py-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-purple-700 dark:hover:text-gray-200 hover:text-gray-700">
                       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="24" height="24">
                            <g class="nc-icon-wrapper">
                                <path fill="#A0041E" d="M13.344 18.702h-2a.5.5 0 01-.5-.5v-7a.5.5 0 01.5-.5h2a.5.5 0 01.5.5v7a.5.5 0 01-.5.5z"></path>
                                <path fill="#FFE8B6" d="M9 20L22 7l13 13v17H9z"></path>
                                <path fill="#FFCC4D" d="M22 20h1v16h-1z"></path>
                                <path fill="#66757F" d="M35 21a.997.997 0 01-.707-.293L22 8.414 9.707 20.707a1 1 0 11-1.414-1.414l13-13a.999.999 0 011.414 0l13 13A.999.999 0 0135 21z"></path>
                                <path fill="#66757F" d="M22 21a.999.999 0 01-.707-1.707l6.5-6.5a1 1 0 111.414 1.414l-6.5 6.5A.997.997 0 0122 21z"></path>
                                <path fill="#C1694F" d="M14 30h4v6h-4z"></path>
                                <path fill="#55ACEE" d="M14 21h4v4h-4zm12.5 0h4v4h-4zm0 9h4v4h-4z"></path>
                                <path fill="#5C913B" d="M37.5 37.5A1.5 1.5 0 0136 39H8a1.5 1.5 0 010-3h28a1.5 1.5 0 011.5 1.5z"></path>
                            </g>
                        </svg>
                        <span class="mx-2 font-medium">Home</span>
                    </a>
                    <a class="flex items-center px-2 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-purple-700 dark:hover:text-gray-200 hover:text-gray-700" href="{% url 'tags' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="24" height="24">
                            <g class="nc-icon-wrapper">
                                <path fill="#FFD983" d="M36.017 24.181L21.345 9.746C20.687 9.087 19.823 9 18.96 9H8.883C7.029 9 6 10.029 6 11.883v10.082c0 .861.089 1.723.746 2.38L21.3 39.017a3.287 3.287 0 004.688 0l10.059-10.088c1.31-1.312 1.28-3.438-.03-4.748zm-23.596-8.76a1.497 1.497 0 11-2.118-2.117 1.497 1.497 0 012.118 2.117z"></path>
                                <path fill="#D99E82" d="M13.952 11.772a3.66 3.66 0 00-5.179 0 3.663 3.663 0 105.18 5.18 3.664 3.664 0 00-.001-5.18zm-1.53 3.65a1.499 1.499 0 11-2.119-2.12 1.499 1.499 0 012.119 2.12z"></path>
                                <path fill="#C1694F" d="M12.507 14.501a1 1 0 11-1.415-1.414l8.485-8.485a1 1 0 111.415 1.414l-8.485 8.485z"></path>
                            </g>
                        </svg>
                        <span class="mx-2 font-medium">Tags</span>
                    </a>
                    <a href="{% url 'dashboard:reading-list' %}" class="flex items-center px-2 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-purple-700 dark:hover:text-gray-200 hover:text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="24" height="24">
                            <g class="nc-icon-wrapper">
                                <path fill="#67757F" d="M39 24c0 2.209-1.791 2-4 2H9c-2.209 0-4 .209-4-2l2-12c.125-1.917 1.791-4 4-4h22c2.209 0 3.791 2.208 4 4l2 12z"></path>
                                <path fill="#CCD6DD" d="M32 17a2 2 0 01-2 2H14a2 2 0 01-2-2V9a2 2 0 012-2h16a2 2 0 012 2v8z"></path>
                                <path fill="#E1E8ED" d="M34 21a2 2 0 01-2 2H12a2 2 0 01-2-2v-8a2 2 0 012-2h20a2 2 0 012 2v8z"></path>
                                <path fill="#F5F8FA" d="M36 25a2 2 0 01-2 2H10a2 2 0 01-2-2v-8a2 2 0 012-2h24a2 2 0 012 2v8z"></path>
                                <path fill="#9AAAB4" d="M39 35a4 4 0 01-4 4H9a4 4 0 01-4-4V24a4 4 0 014-4h26a4 4 0 014 4v11z"></path>
                                <path fill="#67757F" d="M18 16zm0 0z"></path>
                                <path fill="#FCAB40" d="M26 5h-5a2 2 0 00-2 2v1h4a2 2 0 012 2h1a2 2 0 002-2V7a2 2 0 00-2-2z"></path>
                                <path fill="#5DADEC" d="M22 9h-5a2 2 0 00-2 2v1h4a2 2 0 012 2h1a2 2 0 002-2v-1a2 2 0 00-2-2z"></path>
                                <path fill="#E75A70" d="M20 16a2 2 0 01-2 2h-5a2 2 0 01-2-2v-1a2 2 0 012-2h5a2 2 0 012 2v1z"></path>
                                <path fill="#67757F" d="M29 32a2 2 0 01-2 2H17a2 2 0 01-2-2v-5a2 2 0 012-2h10a2 2 0 012 2v5zm-11-4z"></path>
                                <path fill="#E1E8ED" d="M27 31a1 1 0 01-1 1h-8a1 1 0 01-1-1v-3a1 1 0 011-1h8a1 1 0 011 1v3z"></path>
                            </g>
                        </svg>
                        <span class="mx-2 font-medium">Reading list</span>
                    </a>
                </nav>
            </div>

            <!-- drawer component -->
            <div id="drawer-navigation" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
                <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu</h5>
              <div class="py-4 overflow-y-auto">
                  <ul class="space-y-2">
                     <a href="/" class="flex items-center px-2 py-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="24" height="24">
                            <g class="nc-icon-wrapper">
                                <path fill="#A0041E" d="M13.344 18.702h-2a.5.5 0 01-.5-.5v-7a.5.5 0 01.5-.5h2a.5.5 0 01.5.5v7a.5.5 0 01-.5.5z"></path>
                                <path fill="#FFE8B6" d="M9 20L22 7l13 13v17H9z"></path>
                                <path fill="#FFCC4D" d="M22 20h1v16h-1z"></path>
                                <path fill="#66757F" d="M35 21a.997.997 0 01-.707-.293L22 8.414 9.707 20.707a1 1 0 11-1.414-1.414l13-13a.999.999 0 011.414 0l13 13A.999.999 0 0135 21z"></path>
                                <path fill="#66757F" d="M22 21a.999.999 0 01-.707-1.707l6.5-6.5a1 1 0 111.414 1.414l-6.5 6.5A.997.997 0 0122 21z"></path>
                                <path fill="#C1694F" d="M14 30h4v6h-4z"></path>
                                <path fill="#55ACEE" d="M14 21h4v4h-4zm12.5 0h4v4h-4zm0 9h4v4h-4z"></path>
                                <path fill="#5C913B" d="M37.5 37.5A1.5 1.5 0 0136 39H8a1.5 1.5 0 010-3h28a1.5 1.5 0 011.5 1.5z"></path>
                            </g>
                        </svg>
                        <span class="mx-2 font-medium">Home</span>
                    </a>
                    <a class="flex items-center px-2 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="{% url 'tags' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="24" height="24">
                            <g class="nc-icon-wrapper">
                                <path fill="#FFD983" d="M36.017 24.181L21.345 9.746C20.687 9.087 19.823 9 18.96 9H8.883C7.029 9 6 10.029 6 11.883v10.082c0 .861.089 1.723.746 2.38L21.3 39.017a3.287 3.287 0 004.688 0l10.059-10.088c1.31-1.312 1.28-3.438-.03-4.748zm-23.596-8.76a1.497 1.497 0 11-2.118-2.117 1.497 1.497 0 012.118 2.117z"></path>
                                <path fill="#D99E82" d="M13.952 11.772a3.66 3.66 0 00-5.179 0 3.663 3.663 0 105.18 5.18 3.664 3.664 0 00-.001-5.18zm-1.53 3.65a1.499 1.499 0 11-2.119-2.12 1.499 1.499 0 012.119 2.12z"></path>
                                <path fill="#C1694F" d="M12.507 14.501a1 1 0 11-1.415-1.414l8.485-8.485a1 1 0 111.415 1.414l-8.485 8.485z"></path>
                            </g>
                        </svg>
                        <span class="mx-2 font-medium">Tags</span>
                    </a>
                    <a class="flex items-center px-2 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="24" height="24">
                            <g class="nc-icon-wrapper">
                                <path fill="#67757F" d="M39 24c0 2.209-1.791 2-4 2H9c-2.209 0-4 .209-4-2l2-12c.125-1.917 1.791-4 4-4h22c2.209 0 3.791 2.208 4 4l2 12z"></path>
                                <path fill="#CCD6DD" d="M32 17a2 2 0 01-2 2H14a2 2 0 01-2-2V9a2 2 0 012-2h16a2 2 0 012 2v8z"></path>
                                <path fill="#E1E8ED" d="M34 21a2 2 0 01-2 2H12a2 2 0 01-2-2v-8a2 2 0 012-2h20a2 2 0 012 2v8z"></path>
                                <path fill="#F5F8FA" d="M36 25a2 2 0 01-2 2H10a2 2 0 01-2-2v-8a2 2 0 012-2h24a2 2 0 012 2v8z"></path>
                                <path fill="#9AAAB4" d="M39 35a4 4 0 01-4 4H9a4 4 0 01-4-4V24a4 4 0 014-4h26a4 4 0 014 4v11z"></path>
                                <path fill="#67757F" d="M18 16zm0 0z"></path>
                                <path fill="#FCAB40" d="M26 5h-5a2 2 0 00-2 2v1h4a2 2 0 012 2h1a2 2 0 002-2V7a2 2 0 00-2-2z"></path>
                                <path fill="#5DADEC" d="M22 9h-5a2 2 0 00-2 2v1h4a2 2 0 012 2h1a2 2 0 002-2v-1a2 2 0 00-2-2z"></path>
                                <path fill="#E75A70" d="M20 16a2 2 0 01-2 2h-5a2 2 0 01-2-2v-1a2 2 0 012-2h5a2 2 0 012 2v1z"></path>
                                <path fill="#67757F" d="M29 32a2 2 0 01-2 2H17a2 2 0 01-2-2v-5a2 2 0 012-2h10a2 2 0 012 2v5zm-11-4z"></path>
                                <path fill="#E1E8ED" d="M27 31a1 1 0 01-1 1h-8a1 1 0 01-1-1v-3a1 1 0 011-1h8a1 1 0 011 1v3z"></path>
                            </g>
                        </svg>
                        <span class="mx-2 font-medium">Reading list</span>
                    </a>
                  </ul>
               </div>
            </div>

            <div class="rounded-lg sm:col-span-5 md:col-span-5 lg:col-span-3 dark:bg-black">
                <nav class="bg-gray-100 dark:bg-black mb-4">
                    <div class="max-w-screen-xl px-4 py-2 mx-auto">
                        <div class="flex items-center">
                            <ul class="flex flex-row mt-0 mr-6 text-lg space-x-8 text-sm font-medium">
                                <li>
                                    <a href="" class="text-gray-900 dark:text-white hover:text-purple-700">Home</a>
                                </li>
                                <li>
                                    <a href="" class="text-gray-900 dark:text-white hover:text-purple-700">Company</a>
                                </li>
                                <li>
                                    <a href="" class="text-gray-900 dark:text-white hover:text-purple-700">Team</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% if posts.exists %}
                    {% for post in posts %}
                        <div class="mb-3 bg-white rounded-lg shadow-md dark:bg-zinc-900 dark:ring-1 dark:ring-zinc-700">
                            <a href="{% url 'post' post.profile.username post.pk %}">
                                {% if post.image %}
                                    <img class="object-cover rounded-t-lg w-full h-64" src="{{ post.image.url }}" alt="Article">
                                {% endif %}
                            </a>
                            <div class="p-6 pb-2">
                                <div class="flex items-center">
                                    <div class="flex items-center">
                                        <a href="{% url 'profile' post.profile.username %}">
                                            <img class="object-cover h-10 w-10 rounded-full" src="{{ post.profile.image.url }}" alt="Avatar">
                                        </a>
                                        <button data-popover-target="popover-{{ post.id }}-profile" type="button" data-popover-placement="bottom" class="p-1 ml-1 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-xl hover:text-white hover:bg-purple-800 focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-zinc-900 dark:text-gray-400">{{ post.profile.username }}</button>
                                        <div data-popover id="popover-{{ post.id }}-profile" class="absolute z-10 invisible inline-block w-64 text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:bg-zinc-900 dark:border-zinc-700">
                                            <div class="p-3">
                                                <div class="flex items-center justify-between mb-2">
                                                    <a href="{% url 'profile' post.profile.username %}">
                                                        <img class="object-cover w-10 h-10 rounded-full" src="{{ post.profile.image.url }}" alt="{{ post.profile.first_name }}">
                                                    </a>
                                                    <div>
                                                        <a href="{% url 'follow_toggle' post.profile.username %}" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 dark:bg-purple-700 dark:hover:bg-purple-800 focus:outline-none dark:focus:ring-purple-800">Follow</a>
                                                    </div>
                                                </div>
                                                <p class="text-base font-semibold leading-none text-gray-900 dark:text-white">
                                                    <a href="{% url 'profile' post.profile.username %}">{{ post.profile.first_name }}</a>
                                                </p>
                                                <p class="mb-3 text-sm font-normal">
                                                    <a href="{% url 'profile' post.profile.username %}" class="hover:text-purple-700">{{ post.profile.username }}</a>
                                                </p>
                                                <p class="mb-4 text-sm font-light">{{ post.profile.basic.bio }}</p>
                                                <ul class="flex text-sm font-light">
                                                    <li class="mr-2">
                                                        <p>
                                                            <span class="font-semibold text-gray-900 dark:text-white">{{ post.profile.following.all.count }}</span>
                                                            <span>Following</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            <span class="font-semibold text-gray-900 dark:text-white">{{ post.profile.followers.all.count }}</span>
                                                            <span>Followers</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div data-popper-arrow></div>
                                        </div>
                                    </div>
                                    <span class="mx-1 text-xs text-gray-600 dark:text-gray-300">{{ post.created|timesince }} ago</span>
                                </div>

                                <div>
                                    <a href="{% url 'post' post.profile.username post.pk %}" class="block mt-2 mx-10 mb-3 text-4xl font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:text-purple-700" tabindex="0" role="link">{{ post.title }}</a>
                                    <div class="mx-4">
                                        {% for tag in post.tags.all %}
                                            <a href="" class="text-sm ml-6 me-6 text-{{ tag.get_color_display }}-600 dark:text-{{ tag.get_color_display }}-500 font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline"># {{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
                                  <div class="flex flex-row items-start gap-1">
                                    <a href="{% url 'post' post.profile.username post.id %}" class="text-md font-bold text-blue-700 dark:text-gray-400">@</a>
                                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">#</span>
                                  </div>
                                  <div class="">
                                    <a href="" class="text-ms font-normal hover:text-blue-700 text-gray-500 dark:text-gray-400">Edite</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="h-fit sm:hidden lg:block md:col-span-1 rounded-lg p-2 dark:bg-zinc-900">
            </div>
        </div>
    </div>
{% endblock %}
