{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="max-w-5xl m-auto dark:bg-gray-900">
        <div class="w-full grid grid-cols-1 xl:grid-cols-5 2xl:grid-cols-5 gap-2">
            <div class="h-fit rounded-lg p-2 py-2 dark:bg-gray-900">
                <nav>
                    <a href="/" class="flex items-center px-4 py-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
                        </svg>
                        <span class="mx-4 font-medium">Home</span>
                    </a>
                    <a class="flex items-center px-4 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="{% url 'tags' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z"></path>
                        </svg>
                        <span class="mx-4 font-medium">Tags</span>
                    </a>
                    <a class="flex items-center px-4 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"></path>
                        </svg>
                        <span class="mx-4 font-medium">Reading list</span>
                    </a>
                    <a class="flex items-center px-4 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                       </svg>
                    <span class="mx-4 font-medium">Profile</span>
                </a>
                </nav>
            </div>

            <div class="rounded-lg sm:p-6 xl:px-4 xl:pt-2 xl:col-span-3 2xl:col-span-3 dark:bg-gray-900">
                <nav class="bg-gray-100 dark:bg-gray-900 mb-4">
                    <div class="max-w-screen-xl px-4 py-2 mx-auto">
                        <div class="flex items-center">
                            <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                                <li>
                                    <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Company</a>
                                </li>
                                <li>
                                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Team</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% if posts.exists %}
                    {% for post in posts %}
                        <div class="max-w-full overflow-hidden mb-3 bg-white rounded-lg shadow-md dark:bg-gray-800">
                            <a href="{% url 'post' post.profile.username post.pk %}">
                                {% if post.image %}
                                    <img class="object-cover w-full h-64" src="{{ post.image.url }}" alt="Article">
                                {% endif %}
                            </a>
                            <div class="p-6 pb-2">
                                <div class="">
                                    <div class="flex items-center">
                                        <div class="flex items-center">
                                            <img class="object-cover h-10 w-10 rounded-full" src="{% if post.profile.image %}{{ post.profile.image.url }}{% else %}{% static 'user.jpg' %}{% endif %}" alt="Avatar">
                                            <a href="{% url 'profile' post.profile.username %}" class="mx-2 font-semibold text-gray-700 dark:text-gray-200" tabindex="0" role="link">{{ post.profile.username }}</a>
                                        </div>
                                        <span class="mx-1 text-xs text-gray-600 dark:text-gray-300">{{ post.created|timesince }} ago</span>
                                    </div>
                                </div>
                                <div>
                                    <a href="{% url 'post' post.profile.username post.pk %}" class="block mt-2 mx-10 mb-3 text-4xl font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline" tabindex="0" role="link">{{ post.title }}</a>
                                    <div class="mx-4">
                                        {% for tag in post.tags.all %}
                                            <a href="" class="text-sm ml-6 me-6 text-{{ tag.get_color_display }}-600 dark:text-{{ tag.get_color_display }}-500 font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline"># {{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <nav class="m-2 mx-5">
                                    <a type="button" class="text-gray bg-gray hover:bg-blue-100 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</a>
                                    <a type="button" class="text-gray bg-gray hover:bg-blue-100 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</a>
                                </nav>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="bg-white h-fit rounded-lg p-2 py-2 dark:bg-gray-900">
                <nav>
                    <a class="flex items-center px-4 py-2 text-gray-700 bg-gray-100 rounded-md dark:bg-gray-800 dark:text-gray-200" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
                        </svg>
                        <span class="mx-4 font-medium">Home</span>
                    </a>
                    <a class="flex items-center px-4 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="{% url 'tags' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z"></path>
                        </svg>
                        <span class="mx-4 font-medium">Tags</span>
                    </a>

                    <a class="flex items-center px-4 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"></path>
                        </svg>
                        <span class="mx-4 font-medium">Reading list</span>
                    </a>
                    <a class="flex items-center px-4 py-2 mt-2 text-gray-600 transition-colors duration-300 transform rounded-md dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                       </svg>
                    <span class="mx-4 font-medium">Profile</span>
                </a>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
