{% extends 'base.html' %}


{% block title %}crate-a-post{% endblock %}

{% block content %}
    <div class="lg:w-8/12 m-auto mt-6 mb-12 mt-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="overflow-hidden rounded-xl space-y-6 bg-white dark:bg-zinc-900 p-6 pb-10    ">
                <div>
                    <label class="block text-sm mb-2 font-medium text-gray-900 dark:text-white" for="id_image">Post image</label>
                    <div class="flex items-center justify-center w-full">
                        <label for="id_image" class="flex flex-col items-center justify-center w-full h-40 border-2 border-zinc-800 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-black dark:border-zinc-700 dark:hover:border-zinc-600">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
                            </div>
                            {{ form.image }}
                        </label>
                    </div>
                </div>
                <div class="">
                    <label for="title" class="dark:text-white mb-3 block text-sm font-medium text-gray-700">Post Title</label>
                    {{ form.title }}
                </div>
                <div>
                    <label for="tags" class="w-full dark:text-white mb-3 block text-sm font-medium text-gray-700">Post Tags
                        <a href="http://127.0.0.1:8000/admin/tag/tag/add/" class="inline text-white hover:text-purple-700 font-extrabold rounded-full text-md p-2.5 text-center mr-2">+
                        </a>
                    </label>
                    {{ form.tags }}
                    {% for foo in form.tags.option %}
                        {{ foo }}
                    {% endfor %}
                </div>
                <div class="mt-5">
                    <label for="content" class="dark:text-white mb-3 block text-sm font-medium text-gray-700">Post Content</label>
                    <div class="mt-1">
                        {{ form.content }}
                    </div>
                </div>

                <button type="submit" class="text-purple-700 font-bold border-2 border-purple-700 hover:bg-purple-700 hover:text-white w-full rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Save</button>

            </div>
        </form>
    </div>

{% endblock %}