{% extends 'base.html' %}


{% block title %}Update post ({{ post.title }}){% endblock %}

{% block content %}
    <div class="lg:w-8/12 m-auto mt-6 dark:bg-gray-900">
        <div class="mt-5 md:col-span-2 dark:bg-gray-900 md:mt-0">
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="shadow sm:overflow-hidden sm:rounded-md">
                    <div class="dark:bg-gray-800 space-y-6 bg-white px-4 py-5 sm:p-6">
                        <div>
                          <label class="dark:text-white block text-sm mb-3 font-medium text-gray-700">Post Image</label>
                          <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                            <div class="space-y-1 text-center">
                              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                              <div class="flex text-sm text-gray-600">
                                <label for="file-upload" class="dark:bg-gray-800 relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                  <span><svg class="mx-auto h-5 w-5 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg></span>
                                    {{ form.image }}
                                </label>
                              </div>
                                {% if not post.image %}
                                    <p class="pl-1">or drag and drop</p>
                                    <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                                {% endif %}
                            </div>
                          </div>
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <label for="title" class="dark:text-white mb-3 block text-sm font-medium text-gray-700">Post Title</label>
                            {{ form.title }}
                        </div>
                        <div>
                            <label for="tags" class="w-full dark:text-white mb-3 block text-sm font-medium text-gray-700">Post Tags
                                <a href="http://localhost:8000/admin/post/tag/add/" type="button" class="inline text-white hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center mr-2  dark:hover:text-blue-700 dark:focus:ring-blue-800">+
                                </a>
                            </label>
                            {{ form.tags }}
                        <div class="mt-5">
                          <label for="content" class="dark:text-white mb-3 block text-sm font-medium text-gray-700">Post Content</label>
                          <div class="mt-1">
                            {{ form.content }}
                          </div>
{#                          <p class="mt-2 text-sm text-gray-500">Brief description for your profile. URLs are hyperlinked.</p>#}
                        </div>
                        </div>


                    </div>
                    <div class="dark:bg-gray-800 bg-gray-50 px-4 py-3 text-right sm:px-6">
                        <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}