<div class="h-fit xl:col-span-2 2xl:col-span-2 dark:bg-gray-900">
    <ul class="space-y-2 text-sm font-medium text-gray-900 border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li>
            <a href="{% url 'dashboard:posts' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Posts</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900 bg-gray-300 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ post_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:following-tags' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Following Tag</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900 bg-gray-300 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ following_tag_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:followers' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Followers</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900 bg-gray-300 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ follower_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:following-users' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Following Users</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900 bg-gray-300 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ following_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:reading-list' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Reading List</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-gray-900 bg-gray-300 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ dashboard_count_info }}</span>
            </a>
         </li>
    </ul>
</div>