<div class="h-fit sm:col-span-3 md:col-span-2">
    <ul class="space-y-2 text-sm font-medium text-gray-900 dark:text-white">
        <li>
            <a href="{% url 'dashboard:posts' %}" class="flex items-center p-2 text-base font-bold text-gray-900 rounded-lg dark:text-white hover:bg-purple-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Posts</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-bold text-neutral-300 bg-neutral-700 rounded-full">{{ post_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:following-tags' %}" class="flex items-center p-2 text-base font-bold text-gray-900 rounded-lg dark:text-white hover:bg-purple-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Following Tag</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-bold text-neutral-300 bg-neutral-700 rounded-full">{{ following_tag_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:followers' %}" class="flex items-center p-2 text-base font-bold text-gray-900 rounded-lg dark:text-white hover:bg-purple-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Followers</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-bold text-neutral-300 bg-neutral-700 rounded-full">{{ follower_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:following-users' %}" class="flex items-center p-2 text-base font-bold text-gray-900 rounded-lg dark:text-white hover:bg-purple-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Following Users</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-bold text-neutral-300 bg-neutral-700 rounded-full">{{ following_count }}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:reading-list' %}" class="flex items-center p-2 text-base font-bold text-gray-900 rounded-lg dark:text-white hover:bg-purple-700">
               <span class="flex-1 ml-3 whitespace-nowrap">Reading List</span>
               <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-bold text-neutral-300 bg-neutral-700 rounded-full">{{ reading_list_count }}</span>
            </a>
         </li>
    </ul>
</div>