{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block post-card %}
    {% include 'dashboard/post-cards.html' %}
{% endblock %}

{% block dashboard-titl %}
Following Tags
{% endblock %}

{% block dashboard %}
    <div class="rounded-lg xl:col-span-7 2xl:col-span-7 dark:bg-gray-900">
        <p class="text-xl font-bold dark:text-white">Post</p>
        <div class="p-6 m:p-9 bg-white rounded-lg">
            {% if posts %}
                {% for post in posts %}
                    <div class="max-w-full bg-white overflow-hidden mb-3 bg-white rounded-lg shadow-md dark:bg-gray-800">
                        <div class="p-6 pb-2">
                            <div class="">
                                <div class="flex items-center">
                                    <div class="flex items-center">
                                        <img class="object-cover h-10 w-10 rounded-full" src="{{ post.profile.image.url }}" alt="Avatar">
                                        <a href="{% url 'profile' post.profile.username %}" class="mx-2 font-semibold text-gray-700 dark:text-gray-200" tabindex="0" role="link">{{ post.profile.username }}</a>
                                    </div>
                                    <span class="mx-1 text-xs text-gray-600 dark:text-gray-300">{{ post.created|timesince }} ago</span>
                                </div>
                            </div>
                            <div>
                                <a href="{% url 'post' post.profile.username post.pk %}" class="block mt-2 mx-10 mb-3 text-4xl font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline" tabindex="0" role="link">{{ post.title }}</a>
                                <div class="mx-4">
                                    {% for tag in post.tags.all %}
                                        <a href="" class="text-sm ml-6 me-6 text-{{ tag.get_color_display }}-600 dark:text-{{ tag.get_color_display }}-500 font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline"># {{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <nav class="m-2 mx-5">
                                <a type="button" class="text-gray bg-gray hover:bg-blue-100 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</a>
                                <a type="button" class="text-gray bg-gray hover:bg-blue-100 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Dark</a>
                            </nav>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="flex flex-col items-center h-100">
                    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--XHE_XeFn--/c_imagga_scale,f_auto,fl_progressive,q_auto,w_300/https://dev-to-uploads.s3.amazonaws.com/i/y5767q6brm62skiyywvc.png" alt="no-post">
                    <p class="mb-6">This is where you can manage your posts, but you haven't written anything yet.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}