{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block dashboard-titl %}
    Followers
{% endblock %}

{% block dashboard %}
    <div class="rounded-lg xl:col-span-7 dark:bg-gray-900">
        <div class="">
            {% if followers %}
                <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-4 md:space-y-0">
                    {% for user in followers %}
                        <div class="flex flex-col bg-white border rounded-lg items-center py-8">
                            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{ user.follower.image.url }}" alt="Bonnie image"/>
                            {% if user.follower.first_name or user.follower.last_name %}
                            
                            {% endif %} <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ user.follower.firs_name }} {{ user.follower.last_name }}</h5>
                            <span class="text-sm text-gray-500 dark:text-gray-400">@{{ user.follower.username }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="flex flex-col items-center h-100">
                    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--XHE_XeFn--/c_imagga_scale,f_auto,fl_progressive,q_auto,w_300/https://dev-to-uploads.s3.amazonaws.com/i/y5767q6brm62skiyywvc.png" alt="no-post">
                    <p class="mb-6">This is where you can manage your posts, but you haven't written anything yet.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}