<div class="space-y-2 my-3 grid grid-cols-2 gap-2 sm:grid sm:grid-cols-4 sm:gap-2 md:space-y-0">
    <div class="rounded-lg bg-neutral-900 flex flex-wrap justify-start content-center px-6 h-28">
        <div>
            <p class="text-3xl font-bold dark:text-white">0</p>
            <p class="text-md text-gray-700 dark:text-neutral-400">Total post reactions</p>
        </div>
    </div>
    <div class="rounded-lg bg-neutral-900 flex flex-wrap justify-start content-center px-6 h-28">
        <div>
            <p class="text-3xl font-bold dark:text-white">0</p>
            <p class="text-md text-gray-700 dark:text-neutral-400">Total post views</p>
        </div>
    </div>
    <div class="rounded-lg bg-neutral-900 flex flex-wrap justify-start content-center px-6 h-28">
        <div>
            <p class="text-3xl font-bold dark:text-white">0</p>
            <p class="text-md text-gray-700 dark:text-neutral-400">#</p>
        </div>
    </div>
    <div class="rounded-lg bg-neutral-900 flex flex-wrap justify-start content-center px-6 h-28">
        <div>
            <p class="text-3xl font-bold dark:text-white">0</p>
            <p class="text-md text-gray-700 dark:text-neutral-400">#</p>
        </div>
    </div>
</div>
