{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block post-card %}
    {% include 'dashboard/post-cards.html' %}
{% endblock %}

{% block dashboard-titl %}
    Post
{% endblock %}

{% block dashboard %}
    <div class="rounded-lg xl:col-span-7 2xl:col-span-7 dark:bg-gray-900">
        <p class="text-xl font-bold dark:text-white">Post</p>
        <div class="p-6 m:p-9 rounded-lg">
            {% if posts %}
                {% for post in posts %}
                    <div class="relative ring-gray-1 rin overflow-hidden mb-3 bg-white rounded-lg dark:bg-gray-800">
                      <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
                          <div class="flex flex-col items-start">
                            <a class="text-md  font-bold text-blue-700 dark:text-gray-400">{{ post.title }}</a>
                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Published: {{ post.created|timesince }} ago</span>
                          </div>
                          <div class="flex flex-col gap-2">
                            <a href="" class="text-ms font-normal hover:text-blue-700 text-gray-500 dark:text-gray-400">Edite</a>
                            <a href="" class="text-sm font-normal hover:text-blue-700 text-gray-500 dark:text-gray-400">Delete</a>
                          </div>
                      </nav>
                    </div>

                {% endfor %}
            {% else %}
                <div class="flex flex-col items-center h-100">
                    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--XHE_XeFn--/c_imagga_scale,f_auto,fl_progressive,q_auto,w_300/https://dev-to-uploads.s3.amazonaws.com/i/y5767q6brm62skiyywvc.png" alt="no-post">
                    <p class="mb-6">This is where you can manage your posts, but you haven't written anything yet.</p>
                    <p><a href="{% url 'new-post' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Write your first post now</a></p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}