{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block dashboard-titl %}
Reading List
{% endblock %}

{% block dashboard %}
    <div class="rounded-lg xl:col-span-7 2xl:col-span-7 dark:bg-gray-900">
        <div class="pb-6">
            {% if reading_list %}
                {% for post in reading_list %}
                    <div class="relative ring-gray-300 ring-1 overflow-hidden mb-3 bg-white rounded-lg dark:bg-gray-800">
                      <nav class="p-4" aria-label="Table navigation">
                          <div class="flex flex-row gap1">
                              <img class="w-10 h-10 rounded-full mr-2" src="{{ post.post.profile.image.url }}" alt="Post user image">
                              <div class="flex flex-col items-start">
                                <a href="{% url 'post' post.post.profile.username post.id %}" class="text-md font-bold text-blue-700 dark:text-gray-400">{{ post.post.title }}</a>
                                <div>
                                    <a href="{% url 'profile' post.post.profile.username %}" class="text-sm text-gray-600 dark:text-gray-500 font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline">@{{ post.post.profile.username }}
                                    </a>
                                    <span class="text-xs font-normal text-gray-500 dark:text-gray-400">
                                        created at {{ post.post.created|timesince }}
                                    </span>
                                    {% for tag in post.post.tags.all %}
                                        <a href="" class="text-xs ml-3 text-{{ tag.get_color_display }}-600 dark:text-{{ tag.get_color_display }}-500 font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline"># {{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                              </div>
                          </div>
                      </nav>
                    </div>
                {% endfor %}
            {% else %}
                <div class="flex flex-col mb-6 items-center h-100">
                    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--XHE_XeFn--/c_imagga_scale,f_auto,fl_progressive,q_auto,w_300/https://dev-to-uploads.s3.amazonaws.com/i/y5767q6brm62skiyywvc.png" alt="no-post">
                    <h2 class="mb-6 fw-bold fs-l">Your reading list is empty</h2>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}