<div class="h-fit xl:col-span-2 2xl:col-span-2 dark:bg-gray-900">
    <nav class="mb-2 rounded-md">
        <ul class="text-sm font-medium text-gray-900 border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <li class="w-full p-3 bg-white rounded-lg dark:border-gray-600">Posts</li>
            <li class="w-full p-3 rounded-lg hover:bg-blue-200 dark:border-gray-600">Comments written</li>
            <li class="w-full p-3 rounded-lg hover:bg-blue-200 dark:border-gray-600">0 tags followed</li>
        </ul>
    </nav>
</div>