{% if page == 'dashboard' %}
    <div class="space-y-2 md:grid md:grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 md:gap-2 md:space-y-0">
        <div class="rounded-lg border flex flex-wrap justify-start content-center px-6 h-28 bg-white">
            <div>
                <p class="text-3xl font-bold dark:text-white">0</p>
                <p class="text-md text-gray-500 dark:text-white">Total post reactions</p>
            </div>
        </div>
        <div class="rounded-lg border flex flex-wrap justify-start content-center px-6 h-28 bg-white">
            <div>
                <p class="text-3xl font-bold dark:text-white">0</p>
                <p class="text-md text-gray-500 dark:text-white">Total post views</p>
            </div>
        </div>
        <div class="rounded-lg border flex flex-wrap justify-start content-center px-6 h-28 bg-white">
            <div>
                <p class="text-3xl font-bold dark:text-white">0</p>
                <p class="text-md text-gray-500 dark:text-white">#</p>
            </div>
        </div>
        <div class="rounded-lg border flex flex-wrap justify-start content-center px-6 h-28 bg-white">
            <div>
                <p class="text-3xl font-bold dark:text-white">0</p>
                <p class="text-md text-gray-500 dark:text-white">#</p>
            </div>
        </div>
    </div>
{% endif %}